<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UkeTabs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E8FBE841C147054002E9A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E8FBE981C147055002E9A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E8FBEA31C147055002E9A42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
